@font-face{
    font-family: "Gilroy";
    src: url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face{
    font-family: "Gilroy";
    src: url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face{
    font-family: "Gilroy";
    src: url('../fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
}
@font-face{
    font-family: "Gilroy";
    src: url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
}
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
body{
    font-family: "Gilroy";
    font-weight: 400;
    overflow-x: hidden;
    background: linear-gradient(80.5deg, #83A4BD 11.55%, #A5A2B3 24.51%, #BA929B 33.33%, #BD8689 39.89%, #C46F6A 47.85%, #C65857 55.62%, #BF4145 65.14%, #9C2E37 75.49%, #7A262E 84.66%, #5B1E23 95.55%, #421F23 103.99%, #2D1C22 111.11%);
}
.container{
    width: 1165px;
    margin: 0 auto;
}
/*  */
.header_wrapper{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*  */
.nav{
    width: 600px;
    display: flex;
    justify-content: space-between;
}
/*  */
.header_nav{
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #F2F2F2;
}
.header_nav:hover{
    text-decoration: underline;
}
/*  */
.header_numbers{
    display: flex;
    align-items: center;
}
.header_number{
    font-family: 'Gilroy';
    margin-left: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF
}
.header_number:hover{
    text-decoration: underline;
}
.header_order{
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 13px;
    line-height: 160%;
    color: #FFFFFF;
}
/*  */
.header_logo{
    transition: 0.4s;
}
.header_logo:hover{
    transform: scale(1.1);
}

/*  */
/*  */
.main_title{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 130%;
    color: #F2F2F2;
    width: 526px;
}
/*  */
.colortext{
    font-weight: 400;
}
/*  */
.main_photo{
    transition: 1s;
    margin-right: -100px;
}
.main_photo:hover{
    transform: scale(1.05);
}
/*  */
.main_wrapper{
    margin-top: 45px;
    margin-bottom: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*  */
.main_subtitle{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    margin-top: 20px;
    color: #F2F2F2;
}
/*  */
.main_btn{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    background: #F2323D;
    border-radius: 6px;
    width: 224px;
    height: 60px;
    margin-top: 50px;
    border: none;
    color: #FFFFFF;
}
.main_btn:hover{
    box-shadow: 0 0 10px #F2323D;
}
/*  */
.main_icons{
    display: flex;
    margin-top: 100px;
    width: 560px;
    justify-content: space-between;
}
.main_card{
    border-left: 1px solid #E9E9E9;
    padding-left: 15px;
}
.main_card_text{
    margin-top: 16px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #F2F2F2;
}

/*  */
/*  */
.dir{
    background: url('../img/photos/bg.png') no-repeat center center / cover;
}
.dir_wrapper{
    padding: 50px 0;
}
/*  */
.dir_title{
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    margin-bottom: 40px;
    color: #FFFFFF;
    opacity: 100;
}
/*  */
.dir_block{
    display: flex;
    width: 513px;
    justify-content: space-between;
}
.dir_block2{
    display: flex;
    width: 562px;
    justify-content: space-between;
}
.dir_block_title{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 20px;
    color: #FFFFFF;
}
.dir_block_item{
    margin-bottom: 12px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
}
.otstup{
    margin-left: 10px;
}
.dir_block_img{
    transition: 0.5s;
}
.dir_block_img:hover{
    transform: scale(1.05);
}
/*  */
.dir_blocks{
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
}

/*  */
.full_h1{
   display: none;
}
.full_photo{
    margin: 0 auto;
    display: flex;
}
.full{
    margin: 80px 0;
}

/*  */
/*  */
.cycle{
    background: url('../img/photos/bg2.png') no-repeat center center / cover;
}
.cycle_wrapper{
    padding: 80px 0 40px 0;
}
/*  */
.cycle_title{
    margin-bottom: 40px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #FFFFFF;
}
/*  */
.cycle_blocks{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
/*  */
.cycle_block_red{
    background: #F2323D;
    box-shadow: 0px 10px 20px rgba(116, 18, 18, 0.05);
    border-radius: 6px;
    width: 360px;
    height: 120px;
    align-items: center;
    display: flex;
    transition: 0.5s;
}
.cycle_block_red:hover{
    transform: scale(1.03);
}
.cycle_block{
    position: relative;
    background: none;
    box-shadow: 0px 10px 20px rgba(116, 18, 18, 0.05);
    border-radius: 6px;
    width: 360px;
    height: 120px;
    transition: 0.5s;
    align-items: center;
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.cycle_block:hover{
    transform: scale(1.03);
}
/*  */
.cycle_block_text{  
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 165%;
    color: #FFFFFF;
    margin-left: 40px;
}
.cycle_num{
    margin-top: -55px;
    margin-left: 310px;
    position: absolute;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    color: #FFFFFF;
}